@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;600&display=swap');

$green: #3E975B;

#root {
    overflow-x: hidden;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;

    mask-size: 100%;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;

    background-color: #fff;

    &.icon-info {
        mask-image: url("../images/infoSquare.svg");
        -webkit-mask-image: url("../images/infoSquare.svg");
    }

    &.icon-file {
        mask-image: url("../images/file.svg");
        -webkit-mask-image: url("../images/file.svg");
    }
}

body {
    font-family: 'Montserrat', sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .myBtn {
        font-family: 'DM Sans';
        font-weight: 700;
        padding: 12px 20px;
        background-color: $green;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;

        &.secondary {
            background-color: transparent;
            border: 1px solid $green;
            color: #000;
        }

        &:hover {
            background-color: $green;
            color: #fff;
        }
    }

    .card {
        background-color: transparent;
        border: 0;
        padding: 0;

        .card-body {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }

    .Navbar {
        padding: 32px 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11111;
        transition: all .7s ease-in-out;

        .logo {
            display: flex;
            align-items: center;

            .text {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #ffffff;
                margin-left: 12px;
                width: 350px;
                transition: all .5s ease-in-out;
            }
        }

        .lang {
            text-align: right;

            select,
            option {
                font-weight: 500;
                font-size: 16px;
                background-color: transparent;
                line-height: 21px;
                color: #000000;
                border: none;
                outline: none;
            }
        }

        &.active {
            // background-color: #fff;
            padding: 20px 0;
            backdrop-filter: blur(20px);
            background: #ffffff4a;
            box-shadow: 0 0 10px silver;

            .logo {

                span {
                    color: #000;
                }
            }
        }
    }

    .Header {
        background-image: url('../images/headerBg.png');
        // background-size: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 340px;

        h1 {
            padding: 420px 0 0;
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 600px;
        }

        a {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #000000;
            background: #FFFFFF;
            box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08), inset 0px 0px 13px #00000073;
            border-radius: 40px;
            padding: 20px 32px;
            display: inline-block;
        }
    }

    .ToUsers {
        padding: 157px 0 150px;
        position: relative;

        .rightTree {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        h1 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 36px;
        }

        .cards {
            background: #FFFFFF;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
            border-radius: 15px;
            cursor: pointer;
            display: block;

            .img {

                height: 240px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .cardsBody {
                padding: 0 16px;
            }

            h2 {
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0.06px;
                text-transform: uppercase;
                color: #818C99;
                margin-top: 24px;
            }

            h3 {
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                padding-bottom: 24px;
            }
        }
    }

    .News {
        padding: 25px 0 10px;

        h1 {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 36px;
        }

        .cards {
            transition: all .3s ease-in-out;
            padding: 0 10px 10px;
            display: block;

            .img {
                height: 300px;
                margin-bottom: 14px;
                position: relative;

                .blur {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.229687) 76.04%, rgba(0, 0, 0, 0.9) 100%);
                    width: 100%;
                    height: 60px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .wrap {
                display: flex;
                align-items: center;

                h6 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #7a7a7a;
                }

                h5 {
                    margin-left: 15px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #7a7a7a;
                    display: flex;
                    align-items: center;
                }
            }

            .content {

                p {
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #000000;
                    margin-bottom: 14px;
                }
            }

            &:hover {
                box-shadow: 0 0 10px rgba(192, 192, 192, 0.479);
                transform: translateY(-5px);
            }
        }
    }

    .FAQ {
        padding: 60px 0 80px;

        h1 {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 24px;
        }

        .accordion .accordion-item {
            border: none;
            margin-bottom: 20px;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
            border-radius: 8px;

            .accordion-header {
                cursor: pointer;
                transition: all .3s ease-in-out;
                border: none;

                .accordion-button {
                    padding: 20px;
                    border: none !important;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #3C3C3C;
                    background-color: #fff;
                    box-shadow: none !important;

                    &::after {
                        display: none;
                    }

                    .burger {
                        position: relative;
                        width: 32px;
                        height: 32px;
                        transition: all .3s ease-in-out;
                        background: #E0F7DC;
                        margin-right: 20px;
                        padding: 2px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .burger1,
                        .burger2 {
                            position: absolute;
                            width: 70%;
                            height: 2px;
                            background-color: #3C3C3C;
                            transition: all .3s ease-in-out;
                            top: 50%;
                        }

                        .burger2 {
                            transform: rotate(0deg);
                        }

                        @media(max-width: 992px) {
                            width: 20px;
                            height: 20px;
                            margin-left: 15px;
                        }
                    }

                    &.collapsed {


                        .burger {
                            .burger2 {
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .accordion-item {
                        border: none;
                        margin-bottom: 8px;
                        box-shadow: 0px 8px 32px rgba(58, 0, 45, 0.06);
                        background: #fff;
                        border-radius: 10px;

                        .accordion-header {
                            cursor: pointer;
                            transition: all .5s ease-in-out;
                            border: none;

                            .accordion-button {
                                padding: 20px;
                                border: none !important;
                                font-size: 16px;
                                color: red;
                                width: 100%;
                                outline: none;
                                border-radius: 10px;
                                transition: all .5s ease-in-out;
                                box-shadow: none;
                                background: #fff;

                                &::after {
                                    display: none;
                                }

                                .burger {
                                    position: relative;
                                    width: 32px;
                                    height: 32px;
                                    transition: all .5s ease-in-out;
                                    background: #DCEDF7;
                                    margin-right: 20px;
                                    padding: 2px;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .burger1,
                                    .burger2 {
                                        position: absolute;
                                        width: 70%;
                                        height: 2px;
                                        background-color: red;
                                        transition: all .5s ease-in-out;
                                        top: 50%;
                                    }

                                    .burger2 {
                                        transform: rotate(0deg);
                                    }

                                    @media(max-width: 992px) {
                                        width: 20px;
                                        height: 20px;
                                        margin-left: 15px;
                                    }
                                }

                                &.collapsed {


                                    .burger {
                                        .burger2 {
                                            transform: rotate(90deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .accordion-body {
                padding-left: 70px;
                padding-top: 0;

                p {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                }
            }
        }
    }

    .Charity {
        display: flex;

        .rightCol {
            position: relative;

            img {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                height: 100%;
            }
        }

        .myCol {
            padding-top: 180px;
            padding-bottom: 284px;
            // position: absolute;
            top: 0;
            left: 0;
            background: #E0F7DC;
            box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 0px 60px 60px 0px;
        }

        h1 {
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: -0.01em;
            color: #343B4C;
            width: 350px;
            text-align: center;
            margin: auto;
            margin-bottom: 25px;
        }

        .payWrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 35px;

            a {
                margin-right: 30px;
            }
        }
    }

    .SellingOrganization {
        padding-top: 86px;

        h1 {
            font-family: 'DM Sans';
            font-weight: 700;
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
        }

        h2 {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            color: #3C3C3C;
            margin-top: 30px;
        }
    }

    .PlantingOrganization {
        padding-bottom: 60px;
    }

    .Footer {
        padding: 90px 0 50px;

        .logo {
            display: flex;
            align-items: center;

            .text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #000000;
                margin-left: 12px;
                width: 350px;
            }
        }

        .rightWrap {
            display: flex;
            flex-direction: column;

            a {
                display: inline-block;
                font-family: 'DM Sans';
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: #000000;
                margin-bottom: 8px;
            }
        }
    }

    .footerLogo {
        text-align: center;
        padding: 15px 0;

        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
        }
    }

    .footerLine {
        width: 100%;
        height: 0.8px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .inputsStyle {

        .myBtnP {
            padding-bottom: 100px;
        }

        h1 {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #404040;
            margin-bottom: 36px;
        }

        h2 {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: -0.01em;
            color: #343B4C;
            margin-bottom: 24px;
        }

        label {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #62687F;
            margin-bottom: 6px;
        }

        .form-control {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 3px;
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        textarea {
            height: 120px;

        }

        select {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 3px;
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif;
            width: 100%;
            padding: 7px 9px;
            outline: none;
        }

        .map {
            height: 450px;
        }
    }

    .UserLayout {
        height: 100vh;
        overflow: hidden;
        background-color: #F5F5F5;

        .userNavbar {
            align-items: center;

            .navabarLeft,
            .navbarRight {
                padding: 16px 0 20px;
            }

            .navabarLeft {
                background-color: $green;
            }

            .navbarRight {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 30px !important;

                .userWrap {

                    h4 {
                        font-family: 'DM Sans';
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 21px;
                        color: #8D96B2;
                    }

                    h3 {
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #C3CBD4;
                    }
                }

                .inputWrap {
                    display: flex;
                    align-items: center;
                    background: rgba(141, 150, 178, 0.1);
                    border-radius: 8px;
                    padding: 10px 15px;
                    width: 30%;

                    input {
                        margin-bottom: 0;
                        font-family: 'DM Sans';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        color: #000;
                        background: transparent;
                        border: none;
                        box-shadow: none !important;
                    }
                }

                .phoneWrap {
                    display: flex;
                    align-items: center;

                    div {
                        display: flex;
                        flex-direction: column;
                        margin-left: 17px;
                    }
                }

                select {
                    width: 80px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: #8D96B2;
                    background: transparent;
                    border: none;
                    margin-bottom: 0;

                    option {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 21px;
                        color: #8D96B2;
                    }
                }
            }
        }

        .userBottom {
            // padding-top: 55px;
            height: 100%;

            .bottomLeft,
            .bottomRight {
                padding: 55px 0;
            }

            .bottomLeft {
                background-color: $green;
                padding: 55px 35px !important;
                height: 100%;

                h6 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    user-select: none;

                    a {
                        color: #fff;
                    }

                    span {
                        margin-right: 15px;
                        padding-bottom: 2px;
                    }
                }

                .wrap {
                    margin-bottom: 30px;
                }

                .accordion-item {
                    background-color: transparent;
                    border: none;

                    .accordion-header {
                        margin-bottom: 0 !important;

                        .accordion-button {
                            background-color: transparent;
                            padding-left: 0;
                            box-shadow: none !important;
                            padding-top: 0;
                            padding-bottom: 0;
                            // padding-right: 0;

                            h5 {
                                color: #fff;
                                font-family: 'DM Sans';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 21px;
                                user-select: none;
                                display: flex;
                                align-items: center;

                                span {
                                    margin-right: 15px;
                                }
                            }

                            &::after {
                                background-image: url(../images/down.svg);
                            }
                        }
                    }

                    .accordion-body {
                        display: flex;
                        flex-direction: column;
                        padding-left: 25px;
                        position: relative;

                        a {
                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 21px;
                            color: #fff;
                            transition: all .2s ease-in-out;
                            padding: 8px 19px 8px 36px;
                            position: relative;
                            border-radius: 0px 20px 20px 0px;
                            user-select: none;

                            &:hover,
                            &.active {
                                background: #6EB184;
                            }

                            &::after {
                                content: '';
                                width: 1px;
                                height: 100%;
                                background-color: rgba(255, 255, 255, 0.25);
                                top: 0;
                                left: -1px;
                                position: absolute;
                            }
                        }
                    }
                }

                .last {
                    position: relative;
                    transition: all .2s ease-in-out;
                    background-color: transparent;
                    border-radius: 0 20px 20px 0;
                    margin-bottom: 15px;

                    a {
                        transition: all .2s ease-in-out;
                        padding: 8px 0;
                        border-radius: 0 20px 20px 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 12px 0;

                        .icon {
                            transition: all .2s ease-in-out;
                        }
                    }

                    &:hover,
                    &.active {
                        background-color: #fff;
                        cursor: pointer;

                        .icon {
                            background-color: $green;
                        }

                        a {
                            color: $green;
                        }
                    }
                }
            }

            .bottomRight {
                padding: 55px 25px !important;
                overflow-y: auto;
                height: 100%;
            }
        }

        .logo {
            display: flex;
            align-items: center;

            .text {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #fff;
                margin-left: 12px;
                width: 350px;
                transition: all .5s ease-in-out;
            }
        }
    }

    .ControlPanel {

        h1 {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #404040;
            margin-bottom: 36px;
        }

        .cards {
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            text-align: center;

            .cardsTop {
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: #FFFFFF;
                background-color: $green;
                padding: 21.5px 10px;
                border-radius: 8px 8px 0 0;
            }

            .cardsBody {
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 60px;
                line-height: 78px;
                color: #404040;
                padding: 30px 10px;
            }
        }
    }

    .DonateLayout {
        height: 100vh;
        overflow: hidden;

        .rightImg {
            position: relative;

            .img {
                height: 100%;

                img {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    z-index: -1;
                }
            }
        }

        .leftside {
            padding: 30px 0 100px 40px;
            top: 0;
            left: 0;
            background: #FFFFFF;
            box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 0px 60px 60px 0px;

            .leftWrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
            }
        }
    }

    .Donate {

        h1 {
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #343B4C;
            margin-bottom: 70px;
            width: 340px;
        }

        .cards {
            background: #FFFFFF;
            border: 1px solid #8D96B2;
            border-radius: 8px;
            padding: 12px 10px;
            margin-bottom: 20px;

            h3 {
                font-family: 'DM Sans';
                font-weight: 500;
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: -0.01em;
                color: #000000;
            }

            .numberWrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;

                h5 {
                    background: #FFFFFF;
                    border: 1px solid #8D96B2;
                    user-select: none;
                    border-radius: 8px;
                    width: 80px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    font-family: 'DM Sans';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.01em;
                    color: #000000;


                    &:hover {
                        background-color: $green;
                        color: #fff;
                    }
                }
            }

            .inputWrap {
                display: flex;
                align-items: center;
                border: 1px solid #8D96B2;
                border-radius: 8px;
                padding: 0 10px;

                input {
                    border: none;
                    box-shadow: none !important;
                }

                input,
                h6 {
                    font-family: 'DM Sans';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.01em;
                    color: #000000;
                }

                h6 {
                    border-left: 1px solid #8D96B2;
                    padding-left: 11px;
                    user-select: none;
                }
            }
        }

        .myBtn {
            width: 100%;
            margin-bottom: 12px;
        }

        .btnWrap {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    .Payment {

        h1 {
            font-family: 'DM Sans';
            font-weight: 500;
            margin-bottom: 60px;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            width: 380px;
        }

        .payWrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 35px;

            a {
                margin-right: 30px;
            }
        }
    }

    .CartInformation {

        h1 {
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #343B4C;
            width: 380px;
            margin-bottom: 60px;
        }

        .cards {
            background: #FFFFFF;
            border: 1px solid #3E975B;
            border-radius: 4px;
            padding: 20px 16px;
            margin-bottom: 80px;

            .inputWrap {
                position: relative;

                label {
                    user-select: none;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #828282;
                    position: absolute;
                    top: -10px;
                    left: 7px;
                    background: #fff;
                    padding: 0 9px;
                }
            }

            .form-control {

                &.last {
                    padding: 10px;

                    &~label {
                        top: -12px;
                    }
                }
            }

            h3 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                color: #000000;
            }

            .form-control {

                &:focus {
                    box-shadow: none;
                    border-color: $green;
                }
            }
        }
    }

    .NewsDetail {
        padding-top: 140px;

        .news_det_name {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
        }

        .news_det_img {
            width: 100%;
            border-radius: 8px;
        }

        .news_det_view {

            margin-top: 15px;
            display: flex;
            align-items: center;

            .news_det_view_h {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.3);
            }

            .news_det_view_box {
                display: flex;
                align-items: center;

                .news_det_view_img {
                    margin-left: 15px;
                    margin-right: 10px;
                }

                .news_det_view_p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.3);
                }
            }
        }





        .news_det_h {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }

        .news_det_p {
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
        }

    }
}